html,
body,
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.panorama {
    height: 200px;
    /*position: relative;*/
    /*top: -5px;*/
    width: 100%;
}

.no-panorama {
    height: 30px;
}

.placeInfo {
    margin: 0 auto;
    width: 100%;
    /*height:  100%;*/
}