*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

html,
body,
#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/** List Panel **/
#listPanel {
    width: 380px;
    height: auto;
    max-height: 450px;
    z-index: 3;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    background: none;
}

/* Search Bar */
#searchBar {
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    float: left;
    padding-left: 15px;
}

#searchBar:focus {
    outline: 0;
}

/* Search bar option menu */
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#type-selector {
    margin: 0;
    padding: 5px 11px 0px 11px;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgb(94, 148, 255) 0%, rgb(85, 140, 251) 100%);
    float: left;
}


#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
/* ./search bar option menu */

/* list items */
.list-item-container {
    height: 76%;
    width: 100%;
    overflow: hidden
}

#list-items {
    list-style-position: inside;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: 300px;
    padding-left: 0;
    margin: 0;
    border: 1px solid #4d90fe;
}

#list-items li {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    vertical-align: middle;
    padding: 2px 2px 2px 10px;
    font-family: 'Roboto';
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#list-items li:hover, .active {
    color: #4d90fe;
    border: 1px solid #4d90fe;
    padding: 1px 0 0 9px;

}

#list-items::-webkit-scrollbar {
    width: 12px;
}

#list-items::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

#list-items::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#list-items::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* button panel */
.btn-panel {
    background-image: linear-gradient(rgb(94, 148, 255) 0%, rgb(85, 140, 251) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 16px;
    text-align: center;
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;
    height: 45px;
}

.glyphicon-minimize {
    display: block;
    background: url(https://embed-dot-more-than-a-map.appspot.com/images/minimize.png) no-repeat top;
    height: 20px;
    width: 30px;
    float: right;
}
.glyphicon-maximize {
    display: block;
    background: url(https://embed-dot-more-than-a-map.appspot.com/images/maximize.png) no-repeat top;
    height: 20px;
    width: 30px;
    float: right;
}

button {
    border: 0;
    outline: none;
}
/* ./ button panel */
/** ./List Panel **/


label {
    padding: 3px;
}
/** Info Window CSS **/

/* container  */
.placeInfo {
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
    width: 350px;
    position: relative;
    right: -10px;
    top: 5px;
}


/* Foursquare contents */
.foursquare {
    position: relative;
    line-height: 1.4em;
    height: 100%;
}

.contactInfo {
    width: 100%;
    min-height: 100px;
    padding-top: 10px;
}

.contactInfo p {
    margin: 0.5em 0 0.2em 0;
}

.address {
    width: 50%;
    float: left;
}

#title {
    padding: 0 10px 0 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid lightblue;
}

#title a {
    display: inline-block;
    overflow: hidden;
}


.rating, .moreInfo-link {
    text-align: right;
    float: right;
    clear: right;
    white-space: nowrap;
}

.phone {
    float: right;
    margin-top: 0;
}

.panorama {
    min-height: 200px;
    width: 100%;
    display: block;
}

.no-panorama {
    text-align: center;
}
/** ./Info Window CSS **/

.alert-message {
    position: relative;
    text-align: center;
    top: 50%;
    height: 100%;
    line-height: 1.6em;
}


/** Tablets **/
@media screen and (max-width: 768px)  {
    #listPanel {
        width: 100%;
        margin: 0;
        height: auto;
        max-height: 100%;
    }

    #list-items {
        height: 300px;
    }

    .btn-panel {
        border-radius: 0;
        height: 45px;

    }

    .placeInfo {
        position: static;
        width: 100%;
        height: 100%;
        min-width: 100%;
    }

    .foursquare {
        height: 100%;
    }

    .contactInfo {
        overflow: hidden;
        width: 100%;
        margin-bottom: 10px;
    }

    .contactInfo p {
        max-width: 50%;
        white-space: nowrap;
    }

    .panorama {
        height: 60%;
        max-height: 400px;
        margin-top: 20px;
    }

    #title {
        padding-bottom: 10px;
        padding-left: 60px;
    }

    .infowindow-modal-dialog {
        width: 98%;
        height: 98%;
        margin: 0 auto;
        padding: 1%;
    }

    .infowindow-modal-content {
        width: 100%;
        height: 100%;
    }

    .infowindow-modal-body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .btn {
        background-image: linear-gradient(rgb(94, 148, 255) 0%, rgb(85, 140, 251) 100%);
        color: #fff;
        font-size: 1em;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }

    .btn:hover {
        background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    .close {
        position: absolute;
        top: -5px;
    }

    #auto-options {
        display: none;
    }

}
/** ./tablets **/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
/*and (min-device-width : 320px)*/
and (max-device-width : 480px) {
    /* Styles */
    .infowindow-modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin:0;
    }
    .infowindow-modal-content {
        height: 100%;
        border-radius: 0;
    }

    #searchBar {
        font-size: 12px;
    }
}