*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

html,
body,
#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.panorama {
    height: 63%;
    width: 100%;
    display: block;
}

.no-panorama {
    text-align: center;
}

/** Info Window CSS **/

/* container  */
.placeInfo {
    min-width: 300px;
    width: 100%;
}

/* Foursquare contents */
.foursquare {
    position: relative;
    line-height: 1.4em;
    height: 100%;
}

.contactInfo {
    width: 100%;
    min-height: 100px;
    padding-top: 10px;
}

.contactInfo p {
    margin: 0.5em 0 0.2em 0;
}

.address {
    display: inline-block;
    float: left;
}

#title {
    margin: 0;
}


.rating, .moreInfo-link {
    text-align: right;
    float: right;
    clear: right;
}

.phone {
    float: right;
    margin-top: 0;
}

/** List Panel **/
#listPanel {
    width: 380px;
    min-height: 45px;
    max-height: 450px;
    z-index: 3;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    background: none;
}

#listSearch {
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    float: left;
    padding-left: 15px;
}

#listSearch:focus {
    outline: 0;
}

#list-items {
    list-style-position: inside;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: 300px;
    padding-left: 0;
    margin: 0;
    border: 1px solid #4d90fe;
}

#list-items li {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    vertical-align: middle;
    padding: 2px 2px 2px 10px;
    font-family: 'Roboto';
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#list-items li:hover, .active {
    color: #4d90fe;
    border: 1px solid #4d90fe;
    padding: 1px 0 0 9px;

}

#list-items::-webkit-scrollbar {
    width: 12px;
}
#list-items::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#list-items::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#list-items::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.btn-panel {
    background-image: linear-gradient(rgb(94, 148, 255) 0%, rgb(85, 140, 251) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 16px;
    text-align: center;
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;
    /*height: 10%;*/
    /*min-height: 45px;*/
    height: 45px;
    /*bottom: 0;*/

}

.glyphicon-minimize {
    display: block;
    background: url(https://embed-dot-more-than-a-map.appspot.com/images/minimize.png) no-repeat top;
    height: 20px;
    width: 30px;
    float: right;
}

button {
    border: 0;
    outline: none;
}

/** Top search bar **/
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search-container {
    position: fixed;
    left: 50%;
    width: 746px;
    top: 20px;
    transform: translate(-50%, 0);
    z-index: 3;
}

#type-selector {
    margin: 0;
    padding: 5px 11px 0px 11px;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgb(94, 148, 255) 0%, rgb(85, 140, 251) 100%);
    float: left;
}


#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/** ./List Panel **/


@media screen and (max-width: 767px )   {
    #listPanel {
        width: 100%;
        margin: 0;
        max-height: 100%;
    }

    #list-items {
        height: 300px;
    }

    .btn-panel {
        border-radius: 0;
        height: 45px;

    }

    .placeInfo {
        min-width: 280px;
        white-space: nowrap;
    }

    .contactInfo {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contactInfo p {
        max-width: 50%;
        white-space: pre;
    }
    .panorama {
        height: 60%;

    }

    #title a {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        max-width: 80%;
    }

    .modal-dialog {
        width: 98%;
        height: 98%;
        margin: 0 auto;
        padding: 1%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    .modal-header {
        padding-bottom: 0;
    }
    .modal-body {
        width: 100%;
        height: 75%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .modal-header button {
        float: left;
    }
}

@media screen and (max-height: 480px ) {

    #list-items {
        max-height: 200px;
    }

    .modal-footer {
        display: none;
    }
}